.section-features {
  padding: 45px 0 120px;
  background-color: #333333;
}

.section-features__container {
  display: flex;
  flex-direction: column;
}

.section-features__map {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 25px;
}

.section-features__icon {
  width: 60px;
  height: 60px;
  color: #5474fd;
  font-size: 60px;
  margin-top: 30px;
}

.search {
  font-size: 60px;
}

.section-features__icon--red {
  color: #ff6363;
}

.section-features__vector {
  height: 55px;
}

.section-features__svg {
  max-width: 300px;
  width: 100%;
}

.section-features__titles {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-features__name {
  color: white;
  font-family: $aleo;
  font-size: 36px;
}

@media screen and (max-width: 960px) {
  .section-features__name {
    font-size: 30px;
  }

  .section-features__icon:first-child {
    margin-left: 50px;
  }

  .section-features__icon:last-child {
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
  .section-features__name span {
    display: block;
  }

  .section-features__name:nth-child(2) {
    margin-left: 10px;
  }

  .section-features__icon:first-child {
    margin-left: 25px;
  }

  .section-features__icon:last-child {
    margin-right: 25px;
  }
}

@media screen and (max-width: 540px) {
  .section-features__name {
    font-size: 16px;
    text-align: center;
  }

  .section-features__name:nth-child(2) {
    margin-left: 10px;
  }

  .section-features__icon:first-child {
    margin-left: 0px;
  }

  .section-features__icon:last-child {
    margin-right: 0px;
  }
}
