* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  background: linear-gradient(45deg, #496bfe 43%, #5474fd 43%, #5474fd 43%);
  border: none;
  color: white;
  font-family: "Aleo", serif;
  text-transform: uppercase;
  line-height: 16px;
  font-size: 16px;
  padding: 24px 40px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.55);
  box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.55);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.btn:active {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.3);
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 960px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.header-cover {
  background-image: url(../img/footer/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 94px);
  padding-top: 30vh;
}

.header-cover__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header-cover__title {
  text-transform: uppercase;
}

.header-cover__title-semibold {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 100%;
  margin-bottom: 15px;
}

.header-cover__subtitle {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 6px;
  line-height: 100%;
  margin-bottom: 50px;
}

@media screen and (max-width: 540px) {
  .header-cover__title-semibold {
    font-size: 36px;
  }
  .header-cover__subtitle {
    font-size: 16px;
  }
}

.header-cover__search {
  max-width: 650px;
  width: 100%;
}

.header-cover__form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 120px;
}

@media screen and (max-width: 540px) {
  .header-cover__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header-cover__input {
  max-width: 500px;
  width: 100%;
  border: none;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  opacity: 0.8;
  letter-spacing: 2px;
}

.header-cover__input:focus {
  opacity: 1;
  outline: none;
}

@media screen and (max-width: 540px) {
  .header-cover__input {
    height: 60px;
  }
}

.header-cover__button {
  font-family: "Aleo", serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  background-color: #5474fd;
  border: 2px solid white;
  letter-spacing: 1px;
  padding: 19px 15px 17px 35px;
  cursor: pointer;
  max-width: 150px;
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-cover__button:hover {
  background-color: #3358fa;
}

.header-cover__button:active {
  background-color: #647ff7;
}

@media screen and (max-width: 540px) {
  .header-cover__button {
    max-width: 500px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.icon-search {
  font-size: 24px;
}

.header-cover__scroll {
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  margin: auto 0;
}

@media screen and (max-width: 540px) {
  .header-cover__scroll {
    display: none;
  }
}

.header-cover__scroll p {
  font-weight: 14px;
}

.fa-chevron-down {
  opacity: 0.6;
}

.header-menu {
  background-color: #5474fd;
  padding: 35px 0;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.heder-menu__logo > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.header-menu__nav {
  max-width: 540px;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .header-menu__nav {
    display: none;
  }
}

.header-menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-menu__item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 100%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

.header-menu__item:hover {
  border-color: white;
}

#burger-menu__burger {
  opacity: 0;
}

.burger-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 23px;
  right: 30px;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 961px) {
  .burger-menu {
    display: none;
  }
}

.burger-menu__button > span,
.burger-menu__button > span::before,
.burger-menu__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: white;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
  border-radius: 25px;
}

.burger-menu__button > span::before {
  content: "";
  top: -15px;
}

.burger-menu__button > span::after {
  content: "";
  top: 15px;
}

.burger-menu__list {
  display: block;
  position: fixed;
  visibility: hidden;
  height: 100%;
  max-width: 300px;
  width: 100%;
  top: 0;
  right: -100%;
  padding: 80px 0;
  list-style: none;
  background-color: #5474fd;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.burger-menu__item {
  display: block;
  padding: 12px 24px;
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.burger-menu__item:hover {
  background-color: #718af8;
}

#burger-menu__burger:checked ~ .burger-menu__button > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#burger-menu__burger:checked ~ .burger-menu__button > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#burger-menu__burger:checked ~ .burger-menu__button > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#burger-menu__burger:checked ~ .burger-menu__list {
  visibility: visible;
  right: 0;
}

.section-advantages {
  background-image: url(../img/section1/section1_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0 120px;
}

@media screen and (max-width: 1130px) {
  .section-advantages {
    padding: 60px 0 60px;
  }
}

.section-advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 1130px) {
  .section-advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.section-advantages__wrapper {
  max-width: 540px;
  width: 100%;
}

.section-advantages__title h3 {
  color: white;
  font-family: "Aleo", serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 55px;
  margin-top: 85px;
}

@media screen and (max-width: 1130px) {
  .section-advantages__title {
    text-align: center;
  }
  .section-advantages__title h3 {
    margin-top: 35px;
  }
}

.section-advantages__description {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  opacity: 0.8;
}

@media screen and (max-width: 1130px) {
  .section-advantages__description {
    text-align: center;
  }
}

.section-advantages__description p {
  margin-bottom: 30px;
}

.section-advantages__button {
  margin-bottom: 30px;
}

@media screen and (max-width: 1130px) {
  .section-advantages__submit {
    text-align: center;
  }
}

.section-advantages__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 540px;
  width: 100%;
}

.section-advantages__item {
  max-width: 350px;
  width: 100%;
  height: 220px;
}

.section-advantages__item:first-child {
  background-image: url(../img/section1/section1_house.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 120px;
  margin-bottom: 5px;
}

.section-advantages__item:last-child {
  background-image: url(../img/section1/section_mount.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1130px) {
  .section-advantages__image {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1130px;
    width: 100%;
  }
  .section-advantages__item:first-child {
    margin-right: 30px;
  }
}

@media screen and (max-width: 800px) {
  .section-advantages__image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 800px;
    width: 100%;
  }
  .section-advantages__item:first-child {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.section-features {
  padding: 45px 0 120px;
  background-color: #333333;
}

.section-features__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-features__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
}

.section-features__icon {
  width: 60px;
  height: 60px;
  color: #5474fd;
  font-size: 60px;
  margin-top: 30px;
}

.search {
  font-size: 60px;
}

.section-features__icon--red {
  color: #ff6363;
}

.section-features__vector {
  height: 55px;
}

.section-features__svg {
  max-width: 300px;
  width: 100%;
}

.section-features__titles {
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-features__name {
  color: white;
  font-family: "Aleo", serif;
  font-size: 36px;
}

@media screen and (max-width: 960px) {
  .section-features__name {
    font-size: 30px;
  }
  .section-features__icon:first-child {
    margin-left: 50px;
  }
  .section-features__icon:last-child {
    margin-right: 50px;
  }
}

@media screen and (max-width: 720px) {
  .section-features__name span {
    display: block;
  }
  .section-features__name:nth-child(2) {
    margin-left: 10px;
  }
  .section-features__icon:first-child {
    margin-left: 25px;
  }
  .section-features__icon:last-child {
    margin-right: 25px;
  }
}

@media screen and (max-width: 540px) {
  .section-features__name {
    font-size: 16px;
    text-align: center;
  }
  .section-features__name:nth-child(2) {
    margin-left: 10px;
  }
  .section-features__icon:first-child {
    margin-left: 0px;
  }
  .section-features__icon:last-child {
    margin-right: 0px;
  }
}

.section-tour {
  background-image: url(../img/section3/section2_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 230px 0 100px;
}

.section-tour__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section-tour__wrapper {
  max-width: 540px;
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, rgba(0, 0, 0, 0.755172)), color-stop(35%, rgba(0, 0, 0, 0.75716)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.755172) 35%, rgba(0, 0, 0, 0.75716) 35%);
  padding: 50px 30px;
  color: #e8e8e8;
}

.section-tour__subtitle {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.section-tour__title h3 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 30px;
}

.section-tour__description {
  font-size: 16x;
  font-weight: 300;
  line-height: 26px;
  margin-bottom: 45px;
}

.section-tour__button {
  padding: 23px 67px;
}

.section-tour--alternative {
  background-image: url(../img/section4/section3_bg.jpg);
}

.section-tour__container--alternative {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 960px) {
  .section-tour {
    padding: 100px 0 60px;
  }
}

@media screen and (max-width: 540px) {
  .section-tour__wrapper {
    text-align: center;
  }
}

.section-reviews {
  background-image: url(../img/section5/section4_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 120px 0 200px;
  color: #e8e8e8;
}

.section-reviews__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-reviews__title h3 {
  font-family: "Aleo", serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin-bottom: 100px;
  text-align: center;
}

.section-reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.section-reviews__photo {
  max-width: 445px;
  width: 100%;
  min-height: 285px;
  background-image: url(../img/section5/section4_tourist.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-reviews__comment {
  background-color: #333333;
  padding: 50px 50px 50px 60px;
  max-width: 665px;
  width: 100%;
}

.section-reviews__name {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.section-reviews__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
}

.fa-quote-left {
  color: #5474fd;
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media screen and (max-width: 800px) {
  .section-reviews {
    padding: 100px 0 100px;
  }
  .section-reviews__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-reviews__comment {
    max-width: 445px;
    width: 100%;
  }
}

@media screen and (max-width: 440px) {
  .section-reviews__comment {
    padding: 30px 30px 30px 35px;
  }
}

.footer {
  background-color: #232323;
  padding: 120px 0 50px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e8e8e8;
}

.footer__logo {
  margin-bottom: 8px;
}

.footer__logo a {
  color: #e8e8e8;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3px;
}

.footer__subtitle {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 16px;
  margin-bottom: 20px;
}

.footer__iconset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 180px;
  width: 100%;
}

.footer__icon {
  width: 18px;
  height: 18px;
  font-size: 18px;
}

.footer__icon a:hover {
  cursor: pointer;
}

.footer__icon a {
  text-decoration: none;
  color: #e8e8e8;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer__icon--facebook:hover a {
  color: #1f449c;
}

.footer__icon--twitter:hover a {
  color: #41abe1;
}

.footer__icon--linkedin:hover a {
  color: #0077b7;
}

.footer__icon--youtube:hover a {
  color: #ff0000;
}

.footer__icon--pinterest:hover a {
  color: #ca2127;
}

@media screen and (max-width: 960px) {
  .footer {
    padding: 60px 0 50px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .header-cover {
    background-image: url(../img/footer/footer_bg2x.jpg);
  }
  .section-advantages {
    background-image: url(../img/section1/section1_bg2x.jpg);
  }
  .section-advantages__item:first-child {
    background-image: url(../img/section1/section1_house2x.png);
  }
  .section-advantages__item:last-child {
    background-image: url(../img/section1/section_mount2x.png);
  }
  .section-tour {
    background-image: url(../img/section3/section2_bg2x.jpg);
  }
  .section-tour--alternative {
    background-image: url(../img/section4/section3_bg2x.jpg);
  }
  .section-reviews {
    background-image: url(../img/section5/section4_bg2x.jpg);
  }
  .section-reviews__photo {
    background-image: url(../img/section5/section4_tourist2x.png);
  }
  /* 2x Retina styles here */
}

@media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (min-device-pixel-ratio: 3), only screen and (-webkit-min-device-pixel-ratio: 4), only screen and (min-resolution: 384dpi), only screen and (min-resolution: 3dppx) {
  .header-cover {
    background-image: url(../img/footer/footer_bg3x.jpg);
  }
  .section-advantages {
    background-image: url(../img/section1/section1_bg3x.jpg);
  }
  .section-advantages__item:first-child {
    background-image: url(../img/section1/section1_house3x.png);
  }
  .section-advantages__item:last-child {
    background-image: url(../img/section1/section_mount3x.png);
  }
  .section-tour {
    background-image: url(../img/section3/section2_bg3x.jpg);
  }
  .section-tour--alternative {
    background-image: url(../img/section4/section3_bg3x.jpg);
  }
  .section-reviews {
    background-image: url(../img/section5/section4_bg3x.jpg);
  }
  .section-reviews__photo {
    background-image: url(../img/section5/section4_tourist3x.png);
  }
  /* 3x Retina styles here */
}

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Aleo', serif;
*/
/*# sourceMappingURL=main.css.map */