* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
}

.header {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header-cover {
  background-image: url(../img/footer/footer_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: calc(100vh - 94px);
}

.header-cover__container {
  padding: 265px 0 0;
}

.header-cover__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.header-cover__title {
  text-transform: uppercase;
}

.header-cover__title-semibold {
  font-weight: 600;
  font-size: 48px;
  letter-spacing: 4px;
  line-height: 100%;
  margin-bottom: 15px;
}

.header-cover__subtitle {
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 6px;
  line-height: 100%;
  margin-bottom: 50px;
}

.header-cover__search {
  max-width: 650px;
  width: 100%;
}

.header-cover__form {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-cover__input {
  max-width: 500px;
  width: 100%;
  border: none;
  font-size: 14px;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  opacity: 0.8;
  letter-spacing: 2px;
}

.header-cover__input:focus {
  opacity: 1;
  outline: none;
}

.header-cover__button {
  font-family: "Aleo", serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  background-color: #5474fd;
  border: 2px solid white;
  letter-spacing: 1px;
  padding: 19px 15px 17px 35px;
  cursor: pointer;
  max-width: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-search {
  font-size: 24px;
}

.header-cover__scroll {
  text-align: center;
  color: white;
  font-weight: 300;
  letter-spacing: 2px;
  margin: auto 0;
  -webkit-transform: translateY(400%);
          transform: translateY(400%);
}

.header-cover__scroll p {
  font-weight: 14px;
}

.fa-chevron-down {
  opacity: 0.6;
}

.header-menu {
  background-color: #5474fd;
}

.header-menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 0;
}

.heder-menu__logo > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

.header-menu__nav {
  max-width: 540px;
  width: 100%;
}

.header-menu__list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-menu__item {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Aleo", serif;
  font-size: 14px;
  line-height: 100%;
}

/*
font-family: 'Josefin Sans', sans-serif;
font-family: 'Aleo', serif;
*/
/*# sourceMappingURL=main.css.map */